asn1crypto==0.24.0
cffi==1.12.3
Click==7.0
cryptography==2.7
dnspython==1.16.0
Flask==1.1.1
future==0.17.1
impacket==0.9.19
itsdangerous==1.1.0
Jinja2==2.10.1
ldap3==2.5.1
ldapdomaindump==0.9.1
MarkupSafe==1.1.1
netifaces==0.10.9
pcapy==0.11.4
pyasn1==0.4.6
pycparser==2.19
pycryptodomex==3.8.2
pyOpenSSL==19.0.0
six==1.12.0
Werkzeug==0.15.5
